@font-face {
    font-family: 'MeteoconsRegular';
    src: url('meteocons-webfont.eot');
    src: url('meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('meteocons-webfont.woff') format('woff'),
         url('meteocons-webfont.ttf') format('truetype'),
         url('meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.weather-icon {
	font-family: 'MeteoconsRegular';
  font-size: 5em;
  line-height: 60px !important;
}


